<a href="https://colab.research.google.com/github/s17009/PAD/blob/main/Pad_03_s17009.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [46]:
sf_sal = pd.read_csv(f'/content/drive/MyDrive/PAD colab/PAD_03_PD.csv',delimiter = ';')

In [47]:
sf_sal = sf_sal.drop('ID',axis=1)
sf_sal = sf_sal.dropna()

In [48]:
sf_sal

    Country  owns_car  owns_TV  owns_house  owns_Phone gender  Age
0         A       0.0      0.0         0.0           1      M   61
1         B       0.0      0.0         0.0           1      M   44
2         A       0.0      0.0         0.0           1      M   56
3         A       0.0      0.0         0.0           1      M   53
4         C       1.0      1.0         0.0           1      K   60
..      ...       ...      ...         ...         ...    ...  ...
795       B       0.0      0.0         0.0           1      K   28
796       B       0.0      0.0         0.0           1      M   26
797       A       0.0      0.0         0.0           1      M   61
798       B       0.0      1.0         0.0           1      K   47
799       B       0.0      1.0         0.0           1      K   51

[778 rows x 7 columns]

In [49]:
sf_sal['Country'].value_counts()

A    323
B    196
C    181
D     78
Name: Country, dtype: int64

In [50]:
sf_sal = sf_sal.assign(owned_goods = lambda x: (x['owns_car'] + x['owns_TV']+x['owns_house']+x['owns_Phone']))

In [51]:
sf_sal

,Country,owns_car,owns_TV,owns_house,owns_Phone,gender,Age,owned_goods
0,A,0.0,0.0,0.0,1,M,61,1.0
1,B,0.0,0.0,0.0,1,M,44,1.0
2,A,0.0,0.0,0.0,1,M,56,1.0
3,A,0.0,0.0,0.0,1,M,53,1.0
4,C,1.0,1.0,0.0,1,K,60,3.0
...,...,...,...,...,...,...,...,...
795,B,0.0,0.0,0.0,1,K,28,1.0
796,B,0.0,0.0,0.0,1,M,26,1.0
797,A,0.0,0.0,0.0,1,M,61,1.0
798,B,0.0,1.0,0.0,1,K,47,2.0
799,B,0.0,1.0,0.0,1,K,51,2.0

In [52]:
sf_sal.groupby('gender').sum()

        owns_car  owns_TV  owns_house  owns_Phone    Age  owned_goods
gender
K          184.0    349.0       158.0         384  16416       1075.0
M            0.0      0.0         0.0         349  17215        349.0

In [53]:
sf_sal['gender'].value_counts()

M    394
K    384
Name: gender, dtype: int64

In [54]:
tab = round(sf_sal.groupby('gender').sum()['owned_goods']/sf_sal['gender'].value_counts(),2)
tab

K    2.80
M    0.89
dtype: float64

In [55]:
tab.get(key = 'K')

2.8

In [76]:
avg = round(sf_sal.groupby('Country').sum()['owned_goods']/sf_sal.groupby('Country').count()['owned_goods'],2)

In [82]:
sf_sal.groupby(['Country'])['Age'].min()

Country
A    18
B    18
C    18
D    18
Name: Age, dtype: int64

In [83]:
data = {'COUNTRY': sf_sal['Country'].unique(), 'AVG': avg,'AgeMIN':sf_sal.groupby(['Country'])['Age'].min()}
df= pd.DataFrame.from_dict(data)
df

        COUNTRY   AVG  AgeMIN
Country
A             A  0.86      18
B             B  1.46      18
C             C  3.03      18
D             D  4.00      18

In [69]:
sf_sal.groupby('Country').sum()['owned_goods']/sf_sal.groupby('Country').count()['owned_goods']

Country
A    0.860681
B    1.459184
C    3.027624
D    4.000000
Name: owned_goods, dtype: float64

In [72]:
sf_sal.groupby('Country').sum()['owned_goods']

Country
A    278.0
B    286.0
C    548.0
D    312.0
Name: owned_goods, dtype: float64

In [73]:
sf_sal.groupby('Country').count()['owned_goods']

Country
A    323
B    196
C    181
D     78
Name: owned_goods, dtype: int64